/* Generelt om siden */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(45, 53, 68);
  background-color: #7a6c6c;
}

main {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 2rem;
  margin-block: 3rem;
}

header {
  background-color: rgb(0, 0, 0);
  padding: 30px;
}

img {
  max-width: 100%;
}

figcaption {
  color: white;
}

.wire {
  list-style: none;
}

/* fonts, tekster og footer */
h1 {
  padding: 10px;
  font-size: 3rem;
  font-family: NewRocker-Regular;
  text-shadow: rgb(183, 0, 0) 2px 5px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0px -20px 0px -20px;
}
p {
  color: rgb(255, 255, 255);
  text-align: center;
}

h2 {
  font-family: NewRocker-Regular;
  text-align: center;
  padding: 10px;
  color: white;
  text-shadow: rgb(115, 8, 8) 2px 5px;
}

footer {
  position: sticky;
  text-align: center;
  color: white;
}

@font-face {
  font-family: NewRocker-Regular;
  src: url(New_Rocker/NewRocker-Regular.ttf);
}

/* tekst og Splashbillede */

.splash {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  align-items: baseline;
}

.imgsplash {
  margin-bottom: 30px;
}

.container {
  display: grid;
  place-items: center;
}

img,
.splash {
  grid-area: 1/1;
  font-family: NewRocker-Regular;
  font-size: 3.5rem;
  text-align: center;
  text-shadow: rgb(115, 8, 8) 2px 5px;
}

/* grid - koncept, præmis, logline og portræt */
.white {
  border: 3px solid white;
  padding: 10px;
  margin-bottom: 20px;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;

  place-content: center;
}

.col {
  padding: 10px;
  border: 2px solid white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hojformat {
  width: 50%;
  place-content: center;
  margin-top: 10%;
  margin-left: 25%;
  margin-bottom: 5%;
}

/* Video */

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
}

img,
.video_01 {
  width: 100%;
  height: auto;
  display: block;
}

.video {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info_tekst {
  margin: 20px;
  padding: 0px 50px 0px 50px;
}

a:link {
  text-decoration: none;
  font-family: NewRocker-Regular;
  src: url(New_Rocker/NewRocker-Regular.ttf);
}

.indholdsliste a:hover {
  color: red;
}

a {
  color: white;
  padding: 5px;
  margin: 2.5px;
  border: solid 1px white;
}
